.text-message {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 36px;
    font-size: 12px;
    padding: 4px;
    background: var(--menu-background);
    color: var(--menu-font-color);
    border-top: 1px solid var(--menu-border-color);
}

.text-message__text {
    margin: 0;
    font-size: 12px;
}

.text-message__text span {
    opacity: 0;
}

.text-message__text span.visible {
    opacity: 1;
}

.text-message__button {
    margin: 0;
    font-size: 8px;
    padding: 0;
    -webkit-appearance: none;
    background: none;
    border: 0;
    font-family: inherit;
    cursor: pointer;

    position: absolute;
    right: 2px;
    bottom: 0;
}